<%- include("header2") -%>
<h2 class="col-w a-1">
  I'm a Frontend <span class="col-r">& Backend</span> web developer
</h2>
<h3 class="col-w a-2">About</h3>
<p class="col-w a-3">
  Hi, I’m Victor. I'm a multi-talented human with over 3+ years of experiences in wide range of design disciplines.
  <br> <br>
  You can also call me a product designer, full-stack wed developer, interaction, UI, UX or by any other market defined function-title. I'm also a multi-disciplinary maker with over 3 years of experiences in wide range of design disciplines,
  entrepreneur, front-end developer, back-end developer, music enthusiast, traveler, photographer and more.
  <br> <br>
  I don’t like to define myself by the work I’ve done. I define myself by the work I want to do. Skills can be taught, personality is inherent. I prefer to keep learning, continue challenging myself, and do interesting things that matter.
  <br> <br>
  Fueled by high energy levels and boundless enthusiasm, I’m easily inspired and more then willing to follow my fascinations wherever they take me. I’m passionate, expressive, multi-talented spirit with a natural ability to entertain and inspire.
  I’m never satisfied to just come up with ideas. Instead I have an almost impulsive need to act on them.
  <br> <br>
  My abundant energy fuels me in the pursuit of many interests, hobbies, areas of study and artistic endeavors. I’m a fast learner, able to pick up new skills and juggle different projects and roles with relative ease.
  <br> <br>
  I like to develop expertise in a number of areas over the course of my life and career. My personality type is ENTJ. I currently work remotely with a selected freelance client base and are open for new opportunities.
</p>
<%- include("footer2") -%>
