<!DOCTYPE html>
<html lang="en" dir="ltr">

<head>
  <meta charset="utf-8">
  <title>about</title>
</head>
<link rel="stylesheet" href="styles2.css">
<body class="bg-b">
  <div class="header">
    <span class="col-w">victor</span>
  </div>
  <div class="wrapper">
