<!DOCTYPE html>
<html lang="en" dir="ltr">

<head>
  <meta charset="utf-8">
  <title></title>
  <script type="text/javascript">
    if (performance.navigation.type == 2) {
      location.reload(true)
    }
  </script>
  <link rel="stylesheet" href="styles.css">
</head>

<body class="body">
