<!DOCTYPE html>
<html lang="en" dir="ltr">

<head>
  <meta charset="utf-8">
  <title>about</title>
</head>
<link rel="stylesheet" href="styles2.css">

<body class="bg-<%= mode %>">
  <form action="/Home-2" method="post">
    <div class="header">
      <button type="submit" class="button col-<%= mode_invert %>" name="button">victor</button>
    </div>
    <div class="wrapper">
