<%- include("header") -%>
<div class="wrapper">
  <header class="m-x bg-w">
    <button type="submit" class="button portfolio2 col-w" name="button">PORTFOLIO</button>
  </header>
  <!--section2-->
  <div class="section-2 section-2-2 bg-sl">
    <div class="z">
      <div class="z-1">
        <h1 class="col-w a1"><a href="/about" class="text-1"></a></h1>
        <h1 class="col-r a2"><a href="/work" class="text-2"></a></h1>
        <h1 class="col-r a3"><a href="/contact" class="text-3"></a></h1>
      </div>
    </div>
    <footer class="footer-2 col-w"><span class="span">Tap anywhere</span></footer>
  </div>
</div>
<!-- JaveScript -->
<script type="text/javascript" src="js/jquery.js"></script>
<script src="js/script-2.js"></script>
</form>
</body>

</html>
