<%- include("header") -%>
<body>
<form action="/" method="post">
  <header>
    <button type="submit" class="button portfolio2 col-w" name="button">PORTFOLIO</button>
  </header>
  </form>
  <!--section2-->
  <div class="section-2  bg-b">
    <div class="z">
      <div class="z-1">
        <h1 class="col-w a1"><a href="/about" class="text-1"></a></h1>
        <h1 class="col-w a2"><a href="/work" class="text-2"></a></h1>
        <h1 class="col-r a3"><a href="/contact" class="text-3"></a></h1>
      </div>
    </div>
    <footer class="footer-2"><span class="span col-w">Tap anywhere</span></footer>
  </div>
<!-- JaveScript -->
<script type="text/javascript" src="js/jquery.js"></script>
<script src="js/script-2.js"></script>
<script src="js/darkmode.js"></script>
</body>

</html>
