<%- include("header") -%>
<header class="m-x bg-w">
  <div class="toggle toggle-on"></div>
  <div class="x">

  </div>
  <button type="submit" class="button portfolio1 col-w black" name="button">PORTFOLIO</button>
  <!-- <span class="vjaystorms">vjaystorms</span> -->
  <div class="footer-1 bg-w">
    <div onclick="topFunction()" class="footer-1-arrow"></div>
  </div>
</header>
<!--section2-->
<div class="section-2 bg-b">
  <div class="z">
    <div class="z-1">
      <h1 class="col-w a1"><a href="/about" class="text-1"></a></h1>
      <h1 class="col-w a2"><a href="/work" class="text-2"></a></h1>
      <h1 class="col-r a3"><a href="/contact" class="text-3"></a></h1>
    </div>
  </div>
  <footer class="footer-2 col-w"><span class="span col-w">Tap anywhere</span></footer>
</div>
</form>
<%- include("footer") -%>
