<%- include("header") -%>

<div class="wrapper">
  <header class="m-x bg-w">
    <div class="x background">

    </div>
    <h2 class="portfolio1">PORTFOLIO</h2>
    <div class="footer-1 bg-wh">
      <div onclick="topFunction()" class="footer-1-arrow"></div>
    </div>
  </header>
  <!--section2-->
  <div class="section-2 bg-sl">
    <div class="z">
      <div class="z-1">
        <h1 class="col-w a1"><a href="/about" class="text-1"></a></h1>
        <h1 class="col-r a2"><a href="/work" class="text-2"></a></h1>
        <h1 class="col-r a3"><a href="/contact" class="text-3"></a></h1>
      </div>
    </div>
    <footer class="footer-2 col-w"><span class="span">Tap anywhere</span></footer>
  </div>
</div>

<%- include("footer") -%>
