<%- include("header2") -%>

<h4 class="col-<%= mode_invert %> a-1">Blog</h4>
<h5 class="col-r a-1 pointer"><a href="https://blog-template-vjaystorms.onrender.com">A simplistic template example.</a></h5>

<h4 class="col-<%= mode_invert %> a-2">Landing Page</h4>
<h5 class="col-r a-2 pointer"><a href="https://web-production-b03b.up.railway.app/">An Inversive Landing Page template.</a></h5>

<%- include("footer2") -%>
