<%- include("header2") -%>
<h4 class="col-w a-1">Blog</h4>
<a href="https://blog-wedsite-production.up.railway.app/">
  <h5 class="col-r a-1 pointer">A simplistic template example.</h5>
</a>
<h4 class="col-w a-2">Landing Page</h4>
<a href="https://web-production-e94a.up.railway.app/">
  <h5 class="col-r a-2 pointer">An Inversive Landing Page template.</h5>
</a>
<%- include("footer") -%>
