@import url('https://fonts.googleapis.com/css2?family=Raleway:wght@200;300;400;500;600;700;800;900&display=swap');

/* background-image: repeating-linear-gradient(150deg, #000000, #000000 91%, #ffffff 91%, #ffffff 95%, #000000 95%, #000000 100%); */
* {
  padding: 0;
  margin: 0;
  font-family: "Lato", sans-serif;
}

html {
  scroll-behavior: smooth;
}

/* e90f1f */
a {
  text-decoration: none;
  color: inherit;
}

.col-r {
  color: #e90f1f;
}

/* Black background */
.bg-b {
  background-color: #000000;
}

/* white background */
.bg-w {
  background-color: #ffffff;
}

/* White color */
.col-w {
  color: #ffffff;
}

/* Black color */
.col-b {
  color: #000000;
}

/* Gray color */
.col-g {
  color: #000000;
  opacity: 0.3;
}

.f {
  filter: invert(2);
}

.bg-bl {
  background: rgba(0, 0, 0, 0.8);
}

.button {
  border: none;
  background: transparent;
}

.body {
  overflow: hidden;
  background-color: #000000;
}

.m-x {
  width: 100%;
  height: 100vh;
  display: flex;
  align-items: center;
  justify-content: center;
}

.x-1 {
  background-size: 0.6em 100%;
  animation: intro 2s ease forwards;
  position: relative;
  right: 0;
  top: 0;
  z-index: 100;
  width: 100%;
  height: 100vh;
}

.x-1-b {
  animation: intro-b 1s 1.5s ease-in forwards;
}

.x-1-w {
  animation: intro-w 1s 1.5s ease-in forwards;
}

@keyframes intro-b {
  0% {
    opacity: 0;
    background-image: linear-gradient(90deg, #FFFFFF, #FFFFFF 0.2em, #000000 0.2em, #000000);
  }

  50% {
    opacity: 0.5;
    background-image: linear-gradient(90deg, #FFFFFF, #FFFFFF 0.2em, #000000 0.2em, #000000);
  }

  100% {
    opacity: 0.8;
    background-color: #ffffff;
    background-image: linear-gradient(90deg, #FFFFFF, #FFFFFF 0.2em, #000000 0.2em, #000000);
  }
}

@keyframes intro-w {
  0% {
    opacity: 0;
    background-image: linear-gradient(90deg, #000000, #000000 0.2em, #ffffff 0.2em, #ffffff);
  }

  50% {
    opacity: 0.5;
    background-image: linear-gradient(90deg, #000000, #000000 0.2em, #ffffff 0.2em, #ffffff);
  }

  100% {
    opacity: 0.8;
    background-color: #000000;
    background-image: linear-gradient(90deg, #000000, #000000 0.2em, #ffffff 0.2em, #ffffff);
  }
}
.portfolio1 {
  font-size: 5em;
  font-weight: 900;
  text-transform: uppercase;
  position: absolute;
  opacity: 0;
  animation: portfolio1 0.5s 0.3s ease-in forwards;
}

.black {
  color: black;
}

@keyframes portfolio1 {
  0% {
    transform: scale(0.99);
    opacity: 0.3;
  }

  50% {
    transform: scale(1);
    opacity: 0.9;
  }

  100% {
    opacity: 1;
  }
}

.portfolio2 {
  font-size: 1.6em;
  font-weight: 800;
  text-transform: uppercase;
  position: fixed;
  top: 1em;
  right: 1.25em;
  z-index: 200000;
  transition: 1s;
  cursor: pointer;
}

.footer-1 {
  position: absolute;
  bottom: 0;
  width: 100%;
  height: 3em;
  display: flex;
  align-items: center;
  justify-content: center;
  z-index: 100;
}

.footer-1-arrow {
  cursor: pointer;
  width: 3em;
  height: 3em;
  background-image: url("Images/expand.png");
  background-position: center;
  background-repeat: no-repeat;
  background-size: cover;
  position: relative;
  animation: footer 0.5s 0.5s ease-in infinite alternate;
}

@keyframes footer {
  0% {
    transform: translate(0, 0);
  }

  100% {
    transform: translate(0, -0.5em);
  }
}

.section-2 {
  position: relative;
  width: 100%;
  height: 100vh;
  display: grid;
  align-items: center;
  justify-content: flex-start;
  transition: 1s;
}

.section-2-2 {
  position: absolute;
  z-index: 100000;
  top: 0;
  bottom: 0;
  left: 0;
  right: 0;
}

.z {
  position: relative;
  margin: 0 0 0 78px;
}

.o {
  opacity: 0.5;
}

h1 {
  font-size: 6em;
  font-weight: 900;
}

p {
  color: #ffffff;
  font-weight: 500;
}

.a-1 {
  opacity: 0;
  animation: intro-2 0.5s forwards;
}

.a-2 {
  opacity: 0;
  animation: intro-2 0.5s 0.3s forwards;
}

.a-3 {
  opacity: 0;
  animation: intro-2 0.5s 0.6s forwards;
}

@keyframes intro-2 {
  0% {
    opacity: 0;
    transform: translate(0, 0.9em);
  }

  100% {
    opacity: 1;
    transform: translate(0, 0);
  }
}

.footer-2 {
  position: absolute;
  bottom: 3em;
  font-size: 1.2em;
  font-weight: 600;
  width: 100%;
  text-align: center;
}

.footer-2 {
  animation: span 0.5s ease-in infinite alternate;
}

.span {
  opacity: 0.8;
}

.span {
  cursor: default;
}

@keyframes span {
  0% {
    transform: translate(0, 0);
  }

  100% {
    transform: translate(0, 0.5em);
  }
}

@media (max-width:991px) {
  body {
    font-size: 2em;
  }

  .portfolio1 {
    font-size: 4.2em;
  }

  .portfolio2 {
    font-size: 2em;
    cursor: pointer;
  }
}
